# Copy this file to .env and fill in real values.
# Never commit .env to version control.

AZURE_TENANT_ID=16e28732-641f-4a3c-b622-06a9f4f3290e
AZURE_CLIENT_ID=3efe84e1-5be2-41e0-91e2-ec1d0d9db752
AZURE_CLIENT_SECRET=6f366a4a-aaa8-4088-b23c-3fd7c81ab93c
AZURE_APP_ID_URI=api://3efe84e1-5be2-41e0-91e2-ec1d0d9db752